.formulaireRechercheJoueur {
    height:40px;
    width:100%;
    border: 1px solid black;
    padding: 10px;
}

.boutonRechercher{
    margin-top: 20px;
    height:40px;
    width: 100%;
    background-color: white;
}