.table {
    width: 70%;
    margin: 0 auto;
}

thead {
    background-color: #e3d21d;
}

textarea {
    width: 100%;
}

.inputSelection{
    background-color: #0D0E29;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

.liste {
    background-color: #0D0E29;
}