#navbar{
	background-color: #31314C;
	color: #e3d21d;
}

#navbar>a{
	text-decoration: none;
	display: block;
	color: #878FA9;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#navbar>a:hover{
	background-color: #1B1D36;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: #05061F;
	color: white;
}