#navbar{
	background-color: #31314C;
	color: yellow;
}
#navbar>a{
	text-decoration: none;
	display: block;
	color: #878FA9;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#navbar>a:hover{
	background-color: #1B1D36;
}
#navbar>h1{
	display: block;
	margin-bottom: 20px;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #05061F;
	color: white;
}